<!doctype html>

<html lang="en">

<head th:replace="snippets.html :: name_head"></head>

<body>

<nav th:replace="snippets.html :: name_app_navbar"></nav>

<div class="container mt-4">

    <h3>Brand Report</h3>

    <!-- Top row with form-->
    <div class="container">
        <form id="brand-form">
            <div class="row justify-content-center">
                <div class="col-10 col-sm-5 form-group">
                    <label for="inputBrand" class="col-form-label">Brand</label>
                    <div class="">
                        <input type="text" class="form-control" name="brand" id="inputBrand" placeholder="Enter brand name" />
                    </div>
                </div>
                <div class="col-10 col-sm-5 form-group">
                    <label for="inputCategory" class="col-form-label">Category</label>
                    <div class="">
                        <input type="text" class="form-control" name="category" id="inputCategory" placeholder="Enter category" />
                    </div>
                </div>
                <div class="col text-center mt-4">
                    <button type="button" class="btn btn-success px-4 m-2 shadow" id="filter-brand-report">Filter</button>
                </div>
            </div>
        </form>
    </div>

    <!-- Blank Row -->
    <div class="row">
        &nbsp;
    </div>
    <div class="row">
        <!-- Table -->
        <div class="col-12">
            <table class="table table-striped css-serial" id="brandCategory-table">
                <thead class="table-dark">
                <tr>
                    <th scope="col">Sr. No</th>
                    <th scope="col">Brand</th>
                    <th scope="col">Category</th>
                </tr>
                </thead>
                <tbody>

                </tbody>
            </table>

        </div>
    </div>
</div> <!-- Container end-->

<footer th:replace="snippets.html :: name_footer"></footer>

<script th:src="@{/js/brandReport.js}" />
</script>

</body>

</html>
