<!doctype html>

<html lang="en">

<head th:replace="snippets.html :: name_head"></head>

<body>

<nav th:replace="snippets.html :: name_app_navbar"></nav>

<div class="container mt-4">

<div class="row justify-content-center">
	<h1>Point of Sale (PoS)</h1>
</div>

	<div class="row justify-content-around my-5">
		<div class="col text-center m-3 border p-3">
			<a th:href="@{/ui/brands}">
				<img style="width:12rem;" alt="Brand image" th:src="@{/static/home/brand-image.png}">
				<h5>Brands</h5>
			</a>
		</div>
		<div class="col text-center m-3 border p-3">
			<a th:href="@{/ui/products}">
				<img style="width:12rem;" alt="Product image" th:src="@{/static/home/delivery-box.png}">
				<h5>Products</h5>
			</a>
		</div>
		<div class="col text-center m-3 border p-3">
			<a th:href="@{/ui/inventory}">
				<img style="width:12rem;" alt="Inventory image" th:src="@{/static/home/inventory.png}">
				<h5>Inventory</h5>
			</a>
		</div>
	</div>
	<div class="row justify-content-around mt-3">
		<div class="col text-center m-3 border p-3">
			<a th:href="@{/ui/orders}">
				<img style="width:12rem;" alt="Order image" th:src="@{/static/home/shopping-cart.png}">
				<h5>Orders</h5>
			</a>
		</div>
		<div class="col text-center m-3 border p-3">
			<a th:href="@{/ui/reports}">
				<img style="width:12rem;" alt="Reports image" th:src="@{/static/home/report.png}">
				<h5>Reports</h5>
			</a>
		</div>
		<div class="col text-center m-3 border p-3" th:if="${info.getRole() == 'supervisor'}">
			<a th:href="@{/ui/users}">
				<img style="width:12rem;" alt="Admin image" th:src="@{/static/home/admin.png}">
				<h5>Users</h5>
			</a>
		</div>
	</div>


</div> <!-- Container end-->

<footer th:replace="snippets.html :: name_footer"></footer>
<script>
	$('#nav-home').addClass('active');
	$('#hide-home').hide();
</script>

</body>	

</html>