<!doctype html>

<html lang="en">

<head th:replace="snippets.html :: name_head">
</head>

<body>

	<nav th:replace="snippets.html :: name_site_navbar"></nav>


	<div class="container" style="width:80%;display:flex;align-items:center;justify-content:center;min-height:40rem;">

		<div class="row" style="width:100%;justify-content:center;">
			<div class="col-5">
				<div class="card">
					<div class="card-header">
						<div class="col">
							Login to POS application
						</div>
					</div>
					<div class="card-body">
						<form class="form" id="login-form" method="POST" th:action="@{/session/login}">
							<div class="form-group">
								<label for="email" class="col-sm-10 col-form-label">Email</label>
								<div class="col">
									<input type="email" value="" required class="form-control" name="email"
										id="email" placeholder="enter email">
								</div>
							</div>
							<div class="form-group">
								<label for="password" class="col-sm-10 col-form-label">Password</label>
								<div class="col">
									<input type="password" required value="" class="form-control" name="password"
										id="password" placeholder="password">
								</div>
							</div>
							<div class="form-group">
								<div class="row justify-content-center">
									<button type="submit" class="btn btn-outline-primary"
										id="login">Login</button>
								</div>
							</div>
						</form>
					</div>
					<div class="card-footer text-danger">
						[[${info.getMessage()}]]
					</div>

				</div>



			</div> <!-- Col -->
		</div> <!-- Row -->

	</div> <!-- Container-->

	<footer th:replace="snippets.html :: name_footer"></footer>

</body>

</html>