<head th:fragment="name_head">

<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="baseUrl" th:attr="content=${baseUrl}">
<meta name="role" th:attr="content=${info.getRole()}">
<title>PoS app (Zeeshan)</title>

<script src="https://kit.fontawesome.com/c30beb553f.js" crossorigin="anonymous"></script>

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<link rel="stylesheet" th:href="@{/static/app.css}">

</head>

<nav class="navbar navbar-expand-lg navbar-light bg-light mb-2" th:fragment="name_site_navbar">
  <a class="navbar-brand" th:href="@{/}">
    <img th:src="@{/static/logo.webp}" class="d-inline-block align-top" style="height: 3rem" alt="" />
  </a>

  <button
          class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target="#navbarNav"
          aria-controls="navbarNav"
          aria-expanded="false"
          aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="btn btn-primary mx-2 px-4" th:href="@{/site/signup}">Signup</a>
      </li>
      <li class="nav-item">
        <a class="btn btn-primary mx-2 px-4" th:href="@{/site/login}">Login</a>
      </li>
    </ul>
  </div>
</nav>

<nav class="navbar navbar-expand-lg navbar-light bg-light sticky-top mb-1" th:fragment="name_app_navbar">
  <a class="navbar-brand" th:href="@{/}">
    <img th:src="@{/static/logo.webp}" class="d-inline-block align-top" style="height: 3rem" alt="">
  </a>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav" id="hide-home">
      <li class="nav-item" id="nav-home">
        <a class="nav-link" th:href="@{/ui/home}">Home</a>
      </li>
      <li class="nav-item" id="nav-brand">
        <a class="nav-link" th:href="@{/ui/brands}">Brands</a>
      </li>
      <li class="nav-item" id="nav-product">
        <a class="nav-link" th:href="@{/ui/products}">Products</a>
      </li>
      <li class="nav-item" id="nav-inventory">
        <a class="nav-link" th:href="@{/ui/inventory}">Inventory</a>
      </li>
      <li class="nav-item" id="nav-order">
        <a class="nav-link" th:href="@{/ui/orders}">Orders</a>
      </li>
      <li class="nav-item dropdown" id="nav-report">
        <a class="nav-link dropdown-toggle" id="reports-link" th:href="@{/ui/reports}" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Reports</a>
        <div class="dropdown-menu" aria-labelledby="reports-link">
          <a class="dropdown-item" th:href="@{/ui/reports/inventory}">Inventory Report</a>
          <a class="dropdown-item" th:href="@{/ui/reports/brand}">Brand Category Report</a>
          <a class="dropdown-item" th:href="@{/ui/reports/sales}">Sales Report</a>
          <a class="dropdown-item" th:href="@{/ui/reports/daily-sales}">Daily Sales Report</a>
        </div>
      </li>
      <li class="nav-item" id="nav-user" th:if="${info.getRole() == 'supervisor'}">
        <a class="nav-link" th:href="@{/ui/users}">Users</a>
      </li>
    </ul>

    <ul class="navbar-nav ml-auto">
      <li class="navbar-text m-auto font-weight-bold">[[${info.getEmail()}]] <br>
        <span class="font-weight-normal d-flex justify-content-center">([[${info.getRole()}]])</span>
      </li>
      <li class="nav-item align-self-center">
        <a class="nav-link" th:href="@{/session/logout}">
          <button class="btn btn-outline-danger mx-2 px-4">Logout</button>
        </a>
      </li>
    </ul>

  </div>
</nav>

<footer class="footer mt-1" th:fragment="name_footer">
	Copyright Increff 2023
	&nbsp;
	<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
	<script th:src="@{/js/app.js}"/></script>
	<script th:src="@{/js/papaparse.min.js}"/></script>
    <script th:src="@{/static/notify.min.js}"/></script>
	
</footer>


